@import '~@angular/material/core/theming/all-theme';

@include mat-core();

// Red theme
$red-app-primary: mat-palette($mat-red, 800, 400, A700);
$red-app-accent:  mat-palette($mat-grey, 500, 50, 900);
$red-app-warn:    mat-palette($mat-red);
$red-app-theme:   mat-light-theme($red-app-primary, $red-app-accent, $red-app-warn);

// Teal theme
$teal-app-primary: mat-palette($mat-teal, 700, 400, A700);
$teal-app-accent:  mat-palette($mat-amber, 500, 300, 800);
$teal-app-warn:    mat-palette($mat-red);
$teal-app-theme:   mat-light-theme($teal-app-primary, $teal-app-accent, $teal-app-warn);

@include angular-material-theme($teal-app-theme);