$primary-color: #C62828;
$primary-color-dark: #B71C1C;
$primary-color-light: #EF5350;
$primary-color-lighter: #EF9A9A;
$accent-color: #9E9E9E;
$accent-color-dark: #212121;
$accent-color-light: #FAFAFA;
$accent-color-lighter: #CFEAD0;
$warn-color: #F0C132;
$warn-color-dark: #DFAC11;