.under-construction {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: bold;
    letter-spacing: 4px;
  }
}
