@import "../../styles/palette.scss";

md-list md-list-item {
    transition: 500ms all;
    color: $primary-color-lighter;
    padding: 10px 0;
}

md-list md-list-item:hover {
    transition: 500ms all;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

md-list md-list-item span {
    font-size: 20pt;
}

.footer {
    transition: 500ms all;
    padding: 20px 0;
    width: 100%;
    font-family: 'Pacifico', cursive;
    color: $primary-color-light;
    position: absolute;
    bottom: 0px;
    margin-left: 50%;    
    transform: translate(-50%, -50%);
    text-align: center; 
    font-size: 10pt;    
}

.footer:hover {
    transition: 500ms all;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.logo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-shadow: 1px 1px black;
    margin: 30px 0 60px 0;
}

.logo:hover {
    cursor: pointer;
}

.header {
    color: $primary-color; 
    line-height: 100%;
    font-size: 64pt;
    margin-left: -8px;
}
