<!--<md-sidenav align="start" mode="side" #start (open)="closeStartButton.focus()">
  Start Sidenav.
  <br>
  <button md-button #closeStartButton (click)="start.close()">Close</button>
</md-sidenav>
<md-sidenav #end align="end">
  End Sidenav.
  <button md-button (click)="end.close()">Close</button>
</md-sidenav>

My regular content. This will be moved into the proper DOM at runtime.
<button md-button (click)="start.open()">Open start sidenav</button>
<button md-button (click)="end.open()">Open end sidenav</button>-->

<md-sidenav mode="side" opened="true">Drawer content</md-sidenav>
