@import "../../styles/palette.scss";

md-list md-list-item {
    transition: 500ms all;
    color: $primary-color-lighter;
    padding: 10px 0;
}

md-list md-list-item:hover {
    transition: 500ms all;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

md-list md-list-item span {
    font-size: 20pt;
}

nav {
    background: $dark-gray;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    display: block;
    position: fixed;
    width: 90px;
    height: 100%;
}

.footer {
    transition: 500ms all;
    padding: 20px 0;
    font-family: 'Pacifico', cursive;
    color: $primary-color-light;
    text-align: center; 
    font-size: 10pt;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer:hover {
    transition: 500ms all;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.logo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-shadow: 1px 1px black;
    margin: 20px 0 0 -8px;
    color: $primary-color; 
    line-height: 100%;
    font-size: 64pt;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
}

.active span {
    color: $accent-color;
}