@import 'grid';
@import 'palette';

.page-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;

  &.mobile {
    flex-direction: column;
  }
}

.title {
  background-color: $primary;
  padding: 8px 114px 8px $gutter-32;
  margin-bottom: $gutter-16;
  margin-left: calc(#{$gutter-32} * -1);

  h1 {
    color: white;
  }
}

.sub-title {
  max-width: 370px;
}

.image-container {
  height: 200px;
  width: 200px;
  border-radius: 9999px;
  overflow: hidden;
  margin-right: $gutter-64;
  flex: none;

  &.mobile {
    margin-right: 0;
    margin-bottom: $gutter-64;
    margin-top: calc(#{$gutter-64} * -1);
  }

  img {
    height: 100%;
  }
}

.link-row {
  margin-top: $gutter-32;

  a {
    font-size: 30px;
    padding: 10px;
    
    em {
      color: $primary;
      transition: all .3s cubic-bezier(.2, 0, 0, 1);
    }

    &:not(:last-of-type) {
      margin-right: $gutter-16;
    }

    &:hover, &:focus {
      
      em {
        color: $primary;
        transform: translateY(-10px);
      }
    }
  }
}
