<div class="page-container" [ngClass]="{ mobile: isMobile }">
  <div class="image-container" [ngClass]="{ mobile: isMobile }">
    <img src="assets/profile.jpg" #profileImage alt="profile" />
  </div>
  <span>
    <div class="title">
      <h1>Erik Tallang</h1>
    </div>
    <p class="sub-title">Passionate front-end developer, musician and photographer</p>
    <div class="link-row">
      <a href="https://github.com/eTallang"> <em class="fab fa-github"></em> </a>
      <a href="https://500px.com/etallang"><em class="fab fa-500px"></em></a>
      <a href="https://soundcloud.com/volcore"><em class="fab fa-soundcloud"></em></a>
      <a href="https://open.spotify.com/artist/4ysuVltwubdiTLTjkgNgFi?si=FuZzBDYWReG9AcZC1pDCWw"
        ><em class="fab fa-spotify"></em
      ></a>
    </div>
  </span>
</div>
