@import '../../styles/grid';

.page-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  height: 200px;
  border-radius: 9999px;
  overflow: hidden;
  display: inline-block;
  margin-right: $gutter-32;

  img {
    height: 100%;
    filter: grayscale(1) contrast(1.1);
  }
}

.personalia {
  display: inline-block;
}
