@import '../../styles/grid';
@import '../../styles/palette';

.page-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;

  &.mobile {
    flex-direction: column;
  }
}

.dashed-lines {
  border-bottom: 2px dashed $primary;
  width: 200px;
  margin-bottom: $gutter-16;
}

.image-container {
  height: 200px;
  border-radius: 9999px;
  overflow: hidden;
  margin-right: $gutter-32;
  flex: none;

  &.mobile {
    margin-right: 0;
    margin-bottom: $gutter-64;
    margin-top: calc(#{$gutter-64} * -1);
  }

  img {
    height: 100%;
    filter: grayscale(1) sepia(1) hue-rotate(-160deg) saturate(1.3) brightness(0.9)
  }
}

.link-row {
  margin-top: $gutter-32;

  a {
    font-size: 30px;
    padding: 10px;
    
    i {
      color: $primary;
      transition: all .3s cubic-bezier(.2, 0, 0, 1);
    }

    &:not(:last-of-type) {
      margin-right: $gutter-16;
    }

    &:hover, &:focus {
      
      i {
        color: $primary;
        transform: translateY(-10px);
      }
    }
  }
}
