<div class="page-container" [ngClass]="{'mobile': isMobile}">
  <div class="image-container" [ngClass]="{'mobile': isMobile}"><img src="assets/profile.jpg" /></div>
  <span>
    <div class="dashed-lines"></div>
    <h1>Erik Tallang</h1>
    <p>Passionate front-end developer, musician and photographer</p>
    <div class="link-row">
      <a href="https://github.com/eTallang"> <i class="fab fa-github"></i> </a>
      <a href="https://500px.com/etallang"><i class="fab fa-500px"></i></a>
      <a href="https://soundcloud.com/volcore"><i class="fab fa-soundcloud"></i></a>
      <a href="https://open.spotify.com/artist/4ysuVltwubdiTLTjkgNgFi?si=FuZzBDYWReG9AcZC1pDCWw"><i class="fab fa-spotify"></i></a>
    </div>
  </span>
</div>
