@import "../../styles/palette.scss";

md-sidenav-container {
    height: 100%;
}

md-sidenav {
    width: 200px;
    background-color: $primary-color-dark;
}

.page-content {
    margin: 160px 40px 0 40px;
}