@import "../../styles/palette.scss";

md-sidenav-container {
    height: 100%;
    background-color: $primary-color;
}

md-sidenav {
    background-color: $dark-gray;
}

.page-content {
    margin: 0;
}