.backdrop {
    background: black;
}

button.tallang-fullsize-photo-close {
    top: 20px;
    right: 20px;
    font-size: 30px;
}

button.tallang-fullsize-photo-previous {
    left: 20px;
    top: 50%;
    font-size: 30px;
}

button.tallang-fullsize-photo-next {
    right: 20px;
    top: 50%;
    font-size: 30px;
}

button.tallang-fullsize-photo-button {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;

    &:hover, &:focus {
        color: white;
    }
}

md-dialog-container.mat-dialog-container {
    padding: 0;
    overflow-y: hidden;
    line-height: 0;
    background: transparent;
    border-radius: 0;
}

img.tallang-fullsize-photo {
    width: 100%;
    user-select: none;
}

img.tallang-fullsize-photo-vertical-image {
    width: auto;
    max-height: 95vh;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .7);
}