.backdrop {
    background: black;
}

.top-navigation {
    z-index: 9999;
    top: 20px;
    right: 20px;
    position: absolute;

    button {
        font-size: 30px;
    }
}

button.navigation {
    top: 50%;
    font-size: 30px;
    position: absolute;
    
    &.next {
        right: 20px;
    }

    &.previous {
        left: 20px;
    }
}

button.tallang-fullsize-photo-button {
    z-index: 9999;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, .8);
    cursor: pointer;
    transition: 400ms all cubic-bezier(0,.59,.39,1);
    
    &:hover, &:focus {
        color: white;
    }
}

mat-dialog-container.mat-dialog-container {
    padding: 0;
    overflow-y: hidden;
    line-height: 0;
    background: transparent;
    border-radius: 0;
}

img.tallang-fullsize-photo {
    width: 100%;
    user-select: none;
}

img.tallang-fullsize-photo-vertical-image {
    width: auto;
    max-height: 95vh;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .9);
}