$primary-color: #c93a4e;
$primary-color-dark: #D32F2F;
$primary-color-light: #d6596a;
$primary-color-lighter: #EF9A9A;
$primary-color-background: #F44336;
$accent-color: #9E9E9E;
$accent-color-dark: #212121;
$accent-color-light: #FAFAFA;
$accent-color-lighter: #CFEAD0;
$warn-color: #F0C132;
$warn-color-dark: #DFAC11;