$primary-color: #009688;
$primary-color-dark: #004D40;
$primary-color-light: #26A69A;
$primary-color-lighter: #B2DFDB;
$accent-color: #FFC107;
$accent-color-dark: #FF8F00;
$accent-color-light: #FFCA28;
$accent-color-lighter: #FFE082;
$warn-color: #D32F2F;
$warn-color-dark: #B71C1C;