@import '../../styles/palette.scss';
@import '../../styles/button.scss';
@import '../../styles/focus.scss';
@import '~@angular/cdk/overlay';
@include cdk-overlay();

.menu-button {
  @include button-reset();

  position: fixed;
  top: 20px;
  left: 20px;
  background: transparent;
  color: $primary;
  border-radius: 9999px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover, &.cdk-keyboard-focused {
    background: $primary;
    color: white;
  }
}

.menu-container {
  padding: 14px;
  background: white;
  
  a {
    @include dashed-outline();
    display: flex;
    padding: 0 26px 0 16px;
    align-items: center;
    color: $primary;
    text-decoration: none;
    height: 40px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.colored-backdrop {
  // background-color: rgba($primary, .2);
}