<button
  role="navigation"
  class="menu-button"
  [ngClass]="{ mobile: isMobile, active: isOpen }"
  cdkOverlayOrigin
  cdkMonitorElementFocus
  #trigger="cdkOverlayOrigin"
  (click)="toggleMenu()"
>
  <i class="material-icons" @icon *ngIf="isOpen; else: edit">close</i>
  <ng-template #edit> <i class="material-icons" @icon>menu</i> </ng-template>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  cdkConnectedOverlayHasBackdrop="true"
  (detach)="closeMenu()"
  (backdropClick)="closeMenu()"
  cdkConnectedOverlayBackdropClass="colored-backdrop"
>
  <div class="menu-container" (mouseleave)="hoveredItem = null">
    <nav role="listbox" cdkTrapFocus cdkTrapFocusAutoCapture [@listAnimation]="menuItems.length">
      <tallang-active-indicator [hoveredItem]="hoveredItem" [selectedItem]="selectedItem" [rtl]="isMobile"></tallang-active-indicator>
      <div class="spacer"></div>
      <a
        tallangMenuItem
        [value]="menuItem"
        [ngClass]="{ mobile: isMobile }"
        *ngFor="let menuItem of menuItems"
        role="listitem"
        [routerLink]="menuItem.url"
        (click)="closeMenu()"
        (mouseenter)="hoveredItem = getMenuDirective(menuItem)"
        (click)="selectedItem = getMenuDirective(menuItem)" 
        >{{ menuItem.name }}</a
      >
      <div class="spacer"></div>
    </nav>
  </div>
</ng-template>
