<button
  role="navigation"
  class="menu-button"
  tabindex="1"
  [ngClass]="{ mobile: isMobile, active: isOpen }"
  cdkOverlayOrigin
  cdkMonitorElementFocus
  #trigger="cdkOverlayOrigin"
  (click)="isOpen = !isOpen"
>
  <i class="material-icons" @icon *ngIf="isOpen; else: edit">close</i>
  <ng-template #edit> <i class="material-icons" @icon>menu</i> </ng-template>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  cdkConnectedOverlayHasBackdrop="true"
  (detach)="isOpen = false"
  (backdropClick)="isOpen = false"
  cdkConnectedOverlayBackdropClass="colored-backdrop"
>
  <div class="menu-container">
    <nav role="listbox" cdkTrapFocus cdkTrapFocusAutoCapture [@listAnimation]="menuItems.length">
      <a
        [ngClass]="{ mobile: isMobile }"
        *ngFor="let menuItem of menuItems"
        role="listitem"
        [routerLink]="menuItem.url"
        cdkMonitorElementFocus
        (click)="isOpen = false"
        >{{ menuItem.name }}</a
      >
    </nav>
  </div>
</ng-template>
