@keyframes bounce {
  from {
    transform: scale(0.6);
    opacity: 0;
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(0.95);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
