$base-gutter-size: 32px;

$gutter-128: calc(#{$base-gutter-size} * 4);
$gutter-64: calc(#{$base-gutter-size} * 2);
$gutter-32: $base-gutter-size;
$gutter-16: calc(#{$base-gutter-size}/2);
$gutter-8: calc(#{$base-gutter-size}/4);
$gutter-4: calc(#{$base-gutter-size}/8);
$gutter-2: calc(#{$base-gutter-size}/16);
