@import '../../styles/palette.scss';

h1 {
    font-weight: 900;
    font-size: 56pt;
    // color: #efefef;
    color: $accent-color-light;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
}

small {
    font-family: 'Lobster';
    margin-left: 8px;
    font-size: 18pt;
    color: #eee;
}