<md-card flex="noshrink" fxLayout="column" fxLayoutAlign="center stretch">
  <md-card-title fxLayoutAlign="center center">{{action}}</md-card-title>
  <md-card-content fxLayout="column" fxLayoutAlign="center stretch">
    <md-input-container>
      <input md-input type="text" placeholder="Username" [(ngModel)]="user.name">
    </md-input-container>
    <md-input-container>
      <input md-input type="password" placeholder="Password" [(ngModel)]="user.password">
    </md-input-container>
  </md-card-content>
  <md-card-actions fxLayoutAlign="center center">
    <button md-button (click)="authenticate()">{{action}}</button>
    <button md-button class="link" (click)="toggleAction()">{{toggleActionText}}</button>
  </md-card-actions>
</md-card>