<!--<div class="auth row center-xs middle-xs">
  <form class="col-xs-6 shadow-2">
    <div class="inputs row center-xs middle-xs">
      <h3 class="col-xs-8 title">
        what form
      </h3>
      <input
        class="col-xs-8"
        type="email"
        placeholder="email"
      >
      <div class="error">
        email is invalid
      </div>
      <input
        class="col-xs-8"
        type="password"
        placeholder="password"
      >
      <div class="error">
        password is required
      </div>
      <div class="actions col-xs-12">
        <div class="row center-xs">
          <button type="submit" class="btn-light">
            what form
          </button>
          <a class="btn-light link">
            link text
          </a>
        </div>
      </div>
    </div>
  </form>
</div>-->
<md-card flex="noshrink" fxLayout="column" fxLayoutAlign="center stretch">
  <md-card-title fxLayoutAlign="center center">{{action}}</md-card-title>
  <md-card-content fxLayout="column" fxLayoutAlign="center stretch">
    <md-input-container>
      <input md-input type="text" placeholder="Username" [(ngModel)]="user.name">
    </md-input-container>
    <md-input-container>
      <input md-input type="password" placeholder="Password" [(ngModel)]="user.password">
    </md-input-container>
  </md-card-content>
  <md-card-actions fxLayoutAlign="center center">
    <button md-button (click)="authenticate()">{{action}}</button>
    <button md-button class="link" (click)="toggleAction()">{{toggleActionText}}</button>
  </md-card-actions>
</md-card>