$primary: #ca0631;
$primary-dark: #D32F2F;
$primary-light: #d6596a;
$primary-lighter: #EF9A9A;
$primary-background: #F44336;
$accent: #9E9E9E;
$accent-dark: #212121;
$accent-light: #FAFAFA;
$accent-lighter: #CFEAD0;
$warn: #F0C132;
$warn-dark: #DFAC11;