$primary-color: #009688;
$primary-color-dark: #00695C;
$primary-color-light: #26A69A;
$primary-color-lighter: #80CBC4;
$primary-color-background: #B2DFDB;
$accent-color: #FFEB3B;
$accent-color-dark: #F9A825;
$accent-color-light: #FFEE58;
$accent-color-lighter: #FFF59D;
$warn-color: #D32F2F;
$warn-color-dark: #B71C1C;