$primary: #009688;
$primary-dark: #00695C;
$primary-light: #26A69A;
$primary-lighter: #A1E0DA;
$primary-background: #B2DFDB;
$accent: #FFEB3B;
$accent-dark: #F9A825;
$accent-light: #FFEE58;
$accent-lighter: #FFF59D;
$warn: #D32F2F;
$warn-dark: #B71C1C;