button span {
    color: white;
    font-size: 15pt;
}

@mixin progress {
    height: 2px;
    background-color: white;
}

.totalTrackLength {
    @include progress();
    opacity: 0.5;
    margin-top: -2px;
}

.currentPosition {
    @include progress();
    margin-top: 10px;
}
