@import 'grid';
@import 'palette';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-gap: $gutter-32;
  margin: 250px 60px 100px;
}

tallang-movie {
  display: block;
}

.aspec-ratio-container {
  position: relative;
  height: 0;
  padding-bottom: 34.1%;
  width: 60vw;
  margin: 130px auto 0;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
  }
}