@import 'grid';
@import 'palette';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  grid-gap: $gutter-32;
  margin: 250px 60px 100px;

  &.mobile {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 100px 6px;
  }
}

tallang-movie {
  display: block;
}

.aspec-ratio-container {
  position: relative;
  height: 0;
  padding-bottom: 34.1%;
  width: 60vw;
  margin: 130px auto 0;

  &.mobile {
    width: calc(100vw - 20px);
    padding-bottom: 53.7%;
    margin: 40px 6px 0;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
  }
}
