<div class="aspec-ratio-container" [ngClass]="{mobile: isMobile}">
  <iframe
    #movieFrame
    title="Selected movie"
    [src]="selectedMovie?.url"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen"
    webkitallowfullscreen="webkitallowfullscreen"
  ></iframe>
</div>

<div class="container" [ngClass]="{mobile: isMobile}">
  <tallang-movie
    [movie]="movie"
    *ngFor="let movie of movies"
    (watch)="setSelectedMovie($event)"
  ></tallang-movie>
</div>
