<div class="body-wrapper">
    <app-header [title]="title" [subtitle]="subtitle"></app-header>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-music-player></app-music-player>
    </div>
    <!--<div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
        <md-card *ngFor="let track of tracks" fxFlex="100" fxFlex.md="32" fxFlex.gt-md="24">
            <md-card-header>
                <md-card-title>{{track}}</md-card-title>
            </md-card-header>
            <md-card-content>
                <audio controls>
                </audio>
            </md-card-content>
        </md-card>
    </div>-->
</div>