/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto:300|Pacifico');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #303030; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}