/* You can add global styles to this file, and also import other style files */
@import './styles/palette.scss';

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

p,
div,
button,
input,
span {
  font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-width: 599px) {
  html {
    font-size: 85%;
  }
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}