/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto:300|Pacifico');

html, body {
    background: red !important;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}