/* You can add global styles to this file, and also import other style files */
@import './styles/button.scss';
@import './styles/palette.scss';
@import './styles/typography.scss';

body {
  background-color: $background;
}

p,
div,
button,
input,
span, h1, h2, h3, h4 ,h5 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  html {
    font-size: 80%;
  }
}
