@import '../../styles/palette.scss';

h1 {
    line-height: 50pt;
    text-align: center;
    font-family: "Pacifico";
    font-size: 40pt;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.8);
    transform: rotate(-8deg);
    color: $accent-color;
    margin: 0;
}