@import '../../styles/palette.scss';

h1 {
    line-height: 50pt;
    text-align: center;
    font-size: 160pt;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    transform: rotate(-8deg);
    color: $accent-color;
    margin: 0;
}