@import 'grid.scss';
@import 'animations.scss';

.movie-container {
  padding: $gutter-32;
  border-radius: 6px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, .15);
  background: white;
  margin-top: $gutter-32;
  display: flex;
  transition: transform .4s ease;
  position: relative;
}

.poster {
  width: 166px;
  height: 220px;
  margin-top: calc(#{$gutter-64} * -1);
  overflow: hidden;
  flex: none;

  img {
    transform: translate(-29%, -13%); // TODO: What
    height: 135%; /** Scale up to avoid black edges */
  }
}

.movie-info {
  margin-left: $gutter-32;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  h1 {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }

  .date {
    font-size: 0.625rem;
    color: #999;
    margin-top: $gutter-8;
  }

  .description {
    margin-top: $gutter-32;
    font-size: 0.75rem;
    line-height: 1rem;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .watch-button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    &.show, &:focus {
      animation: bounce .8s ease;
      animation-fill-mode: forwards;
      outline: none;
    }
  }
}
